@use '@styles/colours.scss' as *;

.main {
  padding: 1.5rem;
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .summary {
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    gap: 0.5rem;
    border: 1px solid $border-color;
    border-radius: 0.25rem;
  }

  .content {
    flex-grow: 1;
    width: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
