@use '@styles/colours.scss' as *;
@use 'styles/form-fields' as *;

.transfer-summary {
  cursor: pointer;
  font-size: 0.8rem;
  color: $accent;
  user-select: none;

  &:hover {
    text-decoration: underline;
  }
}

.transfer-body {
  select {
    padding: 0.35rem;
    background: $black;
    border: 1px solid $border-color;
    border-radius: 0.25rem;
    color: $white;
    font-size: 0.8rem;
    min-width: 10rem;

    &:focus {
      outline: none;
      border-color: $accent;
    }
  }
}

.transfer-error {
  color: $negative;
  font-size: 0.75rem;
}
