<td>{{ lot().createdDate | date: 'yyyy-MM-dd' }}</td>
<td>{{ lot().qtyRemaining | number: '1.2-4' : 'de-DE' }}</td>
<td>{{ lot().currency }}</td>
<td>{{ lot().costPerUnit | number: '1.2-4' : 'de-DE' }}</td>
<td>{{ lot().commission | number: '1.2-2' : 'de-DE' }}</td>
<td>{{ lot().totalCost | number: '1.2-2' : 'de-DE' }}</td>
<td>{{ lotCurrentValue(lot()) | number: '1.2-2' : 'de-DE' }}</td>
<td [class.positive]="lotPnl(lot()) >= 0" [class.negative]="lotPnl(lot()) < 0">
  {{ lotPnl(lot()) | number: '1.2-2' : 'de-DE' }}
</td>
<td [class.positive]="lotPnlPerc(lot()) >= 0" [class.negative]="lotPnlPerc(lot()) < 0">
  {{ lotPnlPerc(lot()) | number: '1.2-2' : 'de-DE' }}%
</td>
<td class="actions">
  <mat-icon class="edit" (click)="editLot(lot())">edit</mat-icon>
  <mat-icon class="delete" (click)="deleteLot(lot())">delete</mat-icon>
</td>
