@use '@styles/colours.scss' as *;

.shares-table {
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 0.25rem;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  tbody tr {
    border-top: 1px solid $border-color;

    &:hover {
      background-color: $black;
    }
  }

  tr {
    height: 2rem;
  }

  th,
  td {
    padding-inline: 0.5rem;
    line-height: 1.5rem;
    text-align: center;
  }

  th {
    font-size: 0.75rem;
  }

  td {
    font-size: 0.875rem;
    // text-align: right;

    &:first-child {
      text-align: left;
    }
  }
}
