<table class="lot-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Qty</th>
      <th title="Currency">Curr</th>
      <th title="Price per stock">Price</th>
      <th title="Commissions">Comm</th>
      <th title="Total cost">Cost</th>
      <th title="Current value">Value</th>
      <th title="Profit/Loss">P/L</th>
      <th title="Profit/Loss (%)">P/L (%)</th>
    </tr>
  </thead>
  <tbody>
    @for (lot of activeLots(item().lots); track lot.id) {
      <tr app-lot-item-row-data [lot]="lot" [currPrice]="item().currPrice"></tr>
    }
  </tbody>
</table>
