@use 'sass:color';
@use '@styles/colours.scss' as *;

.lot-table {
  width: 60% !important;

  th {
    padding-bottom: 0.25rem;
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    opacity: 0.6;
  }

  thead tr {
    &:hover {
      background-color: transparent;
    }
  }

  tbody tr {
    border-top: 1px solid rgba($border-color, 0.4);
    height: 1.75rem;

    &:hover {
      background-color: rgba($white, 0.03);
    }
  }
}

@media (max-width: 768px) {
  .lot-table {
    width: 100% !important;
  }
}
