@use '@styles/colours.scss' as *;
@use '@styles/_form-fields.scss' as *;

.sell-btn {
  background-color: $negative !important;
  color: $white !important;
}

.sell-error {
  margin-top: 0.25rem;
  display: block;
  font-size: 0.75rem;
  color: $negative;
}
